#someText{
	background: black;
	color: red;
}

#myCanvas{ 
	position: absolute;
	left: 180px;
	top: 50px;
    border: 1px solid #000000;
    z-index: 1;
}

#valveButton{
	position: absolute;
	left: 10px;
	top: 50px;
	width: 150px;
	z-index: 2;
}

#bulbButton{
	position: absolute;
	left: 10px;
	top: 80px;
	width: 150px;
	z-index: 2;
}

#resetButton{
	position: absolute;
	left: 10px;
	top: 110px;
	width: 150px;
	z-index: 2;
}

#ballastHeight{
	position: absolute;
	left: 900px;
	top: 360px;
	width: 400px;
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-moz-transform: rotate(-90deg);   /* Firefox */
	-ms-transform: rotate(-90deg);   /* IE 9 */
	-o-transform: rotate(-90deg);   /* Opera */
	transform: rotate(-90deg);
}

#timeScaleRange{
	position: absolute;
	left: 0px;
	top: 170px;
	width: 150px;
}

p{
	font-family: "Segoe UI";
}

#timeCaption{
	position: absolute;
	left: 10px;
	top: 130px;
	width: 150px;
}

#timeScaleCaption{
	text-align: center;
	position: absolute;
	left: 10px;
	top: 180px;
	width: 150px;	
}

#printVolumeCap{
	margin-top: 60px;
}

#printVolumeCap, #printTemperatureCap, #printPressureCap, #printTimeCap, #printWaterCap{
	margin-left: 1100px;
	width: 250px;		
}

#printVolume, #printTemperature, #printPressure, #printTime, #printWater{
	margin-left: 1300px;
	margin-top: 17px;
	width: 150px;		
}

#printVolume{
	margin-top: -197px;
}